<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.atguigu.crowdfunding.cpes.bean.User" alias="user"/>
        <typeAlias type="com.atguigu.crowdfunding.cpes.bean.UserRoleCount" alias="urcnt"/> 
        <typeAlias type="com.atguigu.crowdfunding.cpes.bean.Role" alias="role"/>
        <typeAlias type="com.atguigu.crowdfunding.cpes.bean.RolePermission" alias="rp"/>
        <typeAlias type="com.atguigu.crowdfunding.cpes.bean.RolePermissionCount" alias="rpcnt"/>
        <typeAlias type="com.atguigu.crowdfunding.cpes.bean.Permission" alias="permission"/>
    </typeAliases>
</configuration>